.header-mobile-container {
  .header-logo,
  .nav-mobile,
  .span-item {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-mobile-container {
    width: 100%;

    .header-logo {
      
      width: 100%;
      // margin-bottom: 100px;
      // margin-left: 70px;

      .fa-bars {
        position: relative;
        left: 450px;
        font-size: 30px;
      }
    }

    .nav-mobile,
    .span-item {
      display: block;
    }

    .header {
      display: none;
    }

    .nav-mobile {
      margin: auto;
      width: 100%;
      text-align: center;
      position: relative;
      padding: 0;
      height: 100%;
      z-index: 10;

      ul {
        li {
          padding-bottom: 30px;
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .header-mobile-container {
    width: 100%;

    .header-logo {
      display: flex;
      width: 100%;

      .fa-bars {
        position: relative;
        left: 110px;
        font-size: 30px;
      }
    }

    .nav-mobile,
    .span-item {
      display: block;
    }

    .header {
      display: none;
    }

    .nav-mobile {
      margin: auto;
      width: 100%;
      text-align: center;
      background-color: #0d7bff;
      padding: 0;
      height: 100vh;
      z-index: 10;

      ul {
        li {
          padding-bottom: 30px;
          font-size: 30px;
        }
      }
    }
  }
}
