/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 100px;
}

.logo-text {
  display: flex;
  flex-direction: row;
}

.logo-text h1 {
  padding: 40px;
  margin-left: 0;
}

.navItems {
  display: flex;
  gap: 40px;
  margin-left: 800px;
  padding-top: 40px;
  font-size: large;
}

.nav-item {
  color: #20b2aa;
}

.table-container {
  margin: 0 30px;
  overflow-x: auto;
}

table {
  width: 100%;
}

thead {
  font-size: large;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.table-name {
  width: 10%;
}

.table-description {
  width: 60%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
